.title {
    @include adaptive-value('font-size', 48, 28, 1);
    font-weight: 500;
    line-height: 120%;
    // .title_white
    &_white {
        color: var(--color-white);
    }
    // .title_madison
    &_madison {
        font-weight: 600;
        text-align: center;
        color: var(--color-madison);
    }
}

.title-2 {
    @include adaptive-value('font-size', 24, 16, 1);
    @include adaptive-value("margin-bottom", 20, 10, 1);
    font-weight: 500;
    line-height: 120%;
    // .title-2_white
    &_white {
        font-weight: 500;
        color: var(--color-white);
    }
    // .title-2_madison
    &_madison {
        font-weight: 500;
        color: var(--color-madison);
    }
}
.title-3 {
    @include adaptive-value('font-size', 20, 16, 1);
    @include adaptive-value("margin-bottom", 20, 10, 1);
    font-weight: 500;
    line-height: 120%;
    // .title-3_white
    &_white {
        font-weight: 500;
        color: var(--color-white);
    }
    // .title-3_madison
    &_madison {
        font-weight: 500;
        color: var(--color-madison);
    }
}
.controls-swiper {
    // .controls-swiper__fraction
    &__fraction {
        font-size: 16px;
        font-weight: 500;
        color: var(--color-dodger);
    }
    // .controls-swiper__button
    &__button {
        display: flex;
        justify-content: space-between;
        .swiper-button-disabled {
            opacity: 0.5;
            transition: opacity 0.3s ease 0s;
        }
    }
    // .controls-swiper__prev
    // .controls-swiper__next
    &__prev,
    &__next {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @include adaptive-value('height', 60, 50, 1);
        @include adaptive-value('width', 60, 50, 1);
        border-radius: 100%;
        // overflow: hidden;
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            @include adaptive-value('height', 60, 50, 1);
            @include adaptive-value('width', 60, 50, 1);
            border-radius: 100%;
            border: 1px solid var(--color-dodger);
        }
        span {
            display: inline-block;
            @include adaptive-value('height', 25, 20, 1);
            @include adaptive-value('width', 25, 20, 1);
        }
    }
}
.help {
    // .help__title
    &__title {
    }
    // .help__list
    &__list {
    }
    // .help__item
    &__item {
        display: flex;
        position: relative;
        &:not(:last-child){
            margin: 0px 0px 20px 0px;
        }
        @media(max-width: $md3){
            flex-wrap: wrap;
        }
        p {
            flex: 0 1 50%;
            font-size: 15px;
            line-height: 20 / 15 * 100%;
            color: var(--color-white);
            margin: 0px 20px 0px 0px;
            @media(max-width: $md3){
                flex: 0 1 100%;
                margin: 0px 0px 0px 0px;
            }
        }
        span{
            flex: 0 1 50%;
            font-weight: 500;
            color: var(--color-prussian);
            @media(max-width: $md3){
                flex: 0 1 100%;
                margin: 10px 0px 0px 0px;
            }
        }
        &::after{
            position: absolute;
            content: '';
            left: 0;
            bottom: -10px;
            height: 1px;
            width: 100%;
            opacity: 0.3;
            background-color: var(--color-prussian);
        }
    }
    // .help__span
		&__span {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
		}
}